@use "tailwindcss";

:root {
  --foreground-rgb: 31, 41, 55;
  --background-color: #f8f9fa;
  --card-background: #ffffff;
  --border-color: #e5e7eb;
  --text-primary: #1f3722;
  --text-secondary: #6b7280;
}

.dark {
  --foreground-rgb: 211, 216, 232;
  --background-color: #0d1224;
  --card-background: #1a1443;
  --border-color: #25213b;
  --text-primary: #ffffff;
  --text-secondary: #d3d8e8;
}

body {
  color: var(--text-primary);
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
  background-color: var(--background-color);
}